* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navi {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  align-items: center;
  margin: 45px;
}
.navi h1 {
  color: blue;
}

section{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
body {
  font-size: 2.6rem;
  width: 50vw;
  margin: 0 auto;
}

/************
SUBMIT BUTTON
*************/
.btn-submit {
  background-color: rgb(69, 108, 240);
  color: white;
  font-size: 2rem;
  border-radius: 12px;
  padding: 10px;
  font-weight: 800;
}



.main_tasks_container {
  text-align: center;
  background-color: rgb(225, 239, 253);
  padding: 10px;
  margin-top: 3rem;
  border-radius: 30px;
  border: 2px solid;
  border-color: #7174a3;
}

.active_todo_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 3px;
}

.completed_todo_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 3px;

}


.input_form{
  margin-right: 15px;
  height:100%;
  font-size: 1.8rem;
  border-radius: 10px;
}


.completed  {
  display: flex;
  flex-direction: row;

}
 .active {

  display: flex;
  flex-direction: row;

 }

 .completed:hover ,.active:hover{
  background-color: rgb(228, 228, 85);
}

.completed > p {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: line-through;
}
.completed_todo_container {
  display: flex;

}

.active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.active > p {
  margin-left: 10px;
  margin-right: 10px;
}

.active-tasks-container > div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 3px;
}

.completed-tasks-container > div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 3px;
}
.delete-btn{
  background-color: red;
  color:white;
  font-size: 1.8rem;
  border-radius: 12px;
  padding: 10px;
  font-weight: 800;
}

.edit-btn{
  background-color: rgb(161, 204, 97);
  color: white;
  font-size: 1.8rem;
  font-weight: 800;
  border-radius: 12px;
  padding: 10px;
}

